*{
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
html,
body{
  padding: 0; /* Espacio alrededor del contenido */
  max-width: 1200px; /* Limitar el ancho máximo del contenido */
  margin: 5px auto; /* Centrar y añadir margen superior para evitar superposición con el navbar */
  

}